### Introduction To Recommendation systems: 
- It comes under Unsupervised learning
- Here we try to find out association or rules that can discover the hidden patterns. And that association is used to define huge data
- Example: Discover buying patterns in e-commerce/Retail data
- Algorithm that helps to find the useful and strong enough assoctaion  is called Apriori algorithm

### Different types of Recommendation system:
Recommendation systems are braodly of 2 types : Association rule and collaborative filtering
- When to apply Association rule recommendation system and When to apply collaborative filtering recommendation system ?
- When we have only a busket that is full of offline transaction data like finding similarity between food order history there use Association rule. 
- When we have online transaction history like (Netflix Movie reviews, Amazon purchase, Zomato ratins). Wherever there is Ratings, feedbacks, reviews are available there based on user's provided data we can find similarity between both - user similarity and item similarity. Hence in this case apply collborative filtering.

### Evaluation Metrics:
- Recommendation systems Evaluation Metrics: Support, Confidence, Lift

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler       
from sklearn.model_selection import train_test_split   
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv(r'C:\users\91842\Downloads\store_data.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
#convert each transaction into a single list:
arr = df.values
arr

array([['shrimp', 'almonds', 'avocado', ..., 'frozen smoothie',
        'spinach', 'olive oil'],
       ['burgers', 'meatballs', 'eggs', ..., nan, nan, nan],
       ['chutney', nan, nan, ..., nan, nan, nan],
       ...,
       ['chicken', nan, nan, ..., nan, nan, nan],
       ['escalope', 'green tea', nan, ..., nan, nan, nan],
       ['eggs', 'frozen smoothie', 'yogurt cake', ..., nan, nan, nan]],
      dtype=object)

In [47]:
df.shape

(7501, 20)

In [48]:
record = []
for i in range(0, 7501):
    record.append([str(df.values[i,j])
                       for j in range(0,20)
                       if (str(df.values[i,j]) != 'nan')])

In [49]:
len(record)

7501

In [50]:
#!pip install apyori

In [51]:
from apyori import apriori
#it will create the association rules

In [52]:
#specify min sopprt value, min confidence value, min lift value
association_rules = apriori(record, min_support=0.005, min_confidence=0.2, min_lift=3)
#who has support<0.05 just leave those rules, dont consider those

In [53]:
#check how many rules are created
association_rules_results = list(association_rules)
len(association_rules_results)

19

In [54]:
#check the 1st rule:
association_rules_results[0]

RelationRecord(items=frozenset({'escalope', 'mushroom cream sauce'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)])

- Now put all the assocuation rule values for all the items in a DF:

In [55]:
cols = ['Items','Antecedent','Consequent','Support','Confidence','Lift']
df = pd.DataFrame(columns=cols)
df

Empty DataFrame
Columns: [Items, Antecedent, Consequent, Support, Confidence, Lift]
Index: []

In [56]:
Support = []
Items = []
Confidence = []
Lift = []
Antecedent = []
Consequent = []

In [57]:
for RelationRecord in association_rules_results:
    for j in RelationRecord.ordered_statistics:
        Support.append(RelationRecord.support)
        Items.append(RelationRecord.items)
        Confidence.append(j.confidence)
        Lift.append(j.lift)
        Antecedent.append(j.items_base)
        Consequent.append(j.items_add)

In [58]:
df['Items'] = list(map(set, Items))
df['Antecedent'] = list(map(set, Antecedent))
df['Consequent'] = list(map(set, Consequent))
df['Support'] = Support
df['Confidence'] = Confidence
df['Lift'] = Lift

In [60]:
df.head()

,Items,Antecedent,Consequent,Support,Confidence,Lift
0,"{escalope, mushroom cream sauce}",{mushroom cream sauce},{escalope},0.005733,0.300699,3.790833
1,"{escalope, pasta}",{pasta},{escalope},0.005866,0.372881,4.700812
2,"{ground beef, herb & pepper}",{herb & pepper},{ground beef},0.015998,0.323450,3.291994
3,"{ground beef, tomato sauce}",{tomato sauce},{ground beef},0.005333,0.377358,3.840659
4,"{whole wheat pasta, olive oil}",{whole wheat pasta},{olive oil},0.007999,0.271493,4.122410